# ========== Python ==========
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyd
*.pyo
*.env
*.env.*
!.env.example

data/

# Virtual environments
.venv/
venv/
env/
ENV/

# Pip cache
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# IDEs
.vscode/
.history/
.idea/

# Logs
*.log

# SQLite database
*.sqlite3

